/* .Custom_Table input[type="text"]
{
height:30px; margin-top:5px;	
	
} */
.sapUiFormTitle 
{
	color:black !important;
	font-weight:bold !important;
}
.sapMTitle
{
	font-weight:bold !important;
}