.sapUiFormResGrid>div {
    padding: 0.2rem !important;
    box-sizing: border-box !important;
}
.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 1rem !important;
    line-height: 1rem !important;
}
.sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent {
    padding: 0rem 0rem !important;
    box-sizing: border-box !important;
}
.sapMITBHead {
    position: relative !important;
    white-space: nowrap !important;
    display: inline-block !important;
    margin: 0rem 0rem 0 0rem !important;
    padding: 0 1px !important;
    vertical-align: top !important;
    font-size: 0.75rem !important;
}
.sapMITBContent {
    padding: 0.2rem !important;
    position: relative !important;
}
.color .sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    background-color: blanchedalmond !important;
} 

.sapMITBContent {
    border-bottom: 0.125rem solid #fafafa !important;
}

.sapUiFormM:not(.sapUiFormEdit) .sapUiFormResGridCont>div {
    padding-top: 0.0rem;
    padding-bottom: 0.0rem;
    font-size: 1px;
}

/* .cltitle .sapUiSizeCompact {
	color: black; 
} */
.clText{
	color:#588057 !important;
	font-weight:bold !important;
}

.tblgrid2 .sapMListTblCell {
    vertical-align: middle;
    border: 1.1px solid #f7f7f7;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
} 







