
.sapMPanelContent {
    padding: 0rem;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}

.tbllabel .sapMListTbl .sapMLabel {
    color: black;
    font-weight: 700;
}

.label .sapMLabel {
    color: black;
    font-size: 0.875rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: normal;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: text;
}