.pageTitle .sapMTitleStyleAuto {
    font-size: 1rem;
    color: Black; 
     font-weight:bold !important; 
} 
 .fontWight {
    font-weight: bold;
    color: #2b059c;
} 
.vboxclass{
	padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px; 
}
.sapMListTbl th {
    background: cornsilk;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}
.tblgrid .sapMListTblCell{
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}
.tblgrid1 .sapMListTblCell {
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}
.sapMListTbl .sapMLabel {
    color: black;
}
.dealer{
    color: black;
    font-size: 0.875rem;
    font-family: inherit;
    font-weight: bold;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: text;
} 