.sapUiFormTitle 
{
	color:black !important;
	font-weight:bold !important;
}
.sapMTitle
{
	font-weight:bold !important;
}
.sapMListTbl .sapMLabel {
    padding-top: 1px;
    font-size: 0.875rem;
    color: #4d4d53;
    font-weight: bold !important;
}

