/*
.serial_ipt:after, .cust_ipt:after{
 content:"OR";
 font-size:14px;
 
 
}
#__xmlview1--serialNumberIn, #__xmlview1--modelIn, #__xmlview1--multiInput{
 width:100%;
 margin-bottom:15px;
 text-align:center;
}


@media only screen and (max-width: 1366px) and (min-width: 600px)  {
.srch_cust table tr:nth-child(odd){
	background:#f7f7f7;
}
.srch_cust table tr td{
	padding:0.8rem 0.2rem;
	vertical-align:middle;
}

.srch_cust table thead tr th{
	padding:0.8rem 0.2rem;
	background:#ececec;
	vertical-align:middle;
	font-weight:600;
}
.srch_cust table thead tr th span{
	font-weight:600 !important;
}
.srch_cust table thead tr th .sapMLIBSelectM>.sapMCb{
	width:0.8rem;
	height:1rem;
	line-height:1rem;
	vertical-align:middle;
}
.srch_cust table tr td .sapMLIBSelectM>.sapMCb{
	width:0.8rem;
	height:1rem;
	line-height:1rem;
	vertical-align:middle;
}
.srch_cust table thead tr th .sapMCbBg{
	width:0.8rem;
	height:0.8rem;
	left:0.8rem;
	top:0rem;
	line-height:0.8rem;
}
.srch_cust table tr td .sapMCbBg{
	width:0.8rem;
	height:0.8rem;
	left:0.8rem;
	top:0rem;
	line-height:0.8rem;
}
.srch_cust .sapMListTbl .sapMObjectIdentifierTitle .sapMText{
	font-weight:normal;
}
.srch_cust .sapMDialogScrollCont{
	padding:0.2rem 0.5rem;
}
.srch_cust table thead tr #__dialog0-table-tblHead6{
	width:10%;
}
.srch_cust table thead tr #__dialog0-table-tblHead7{
	width:12%;
}
.srch_cust table tr td span.sapMText{
	font-size:12px !important;	
}
}

*/

/*----CSS START FROM START OF THE APPLICATION----*/
.left_panel_list li{
	padding:0.5rem 0.75rem !important;
}
.left_panel_list li:nth-child(even){
	background:#eff4f9;
}
.left_panel_list li .sapMLIBContent .sapMObjLTopRow .sapMObjLNumberDiv{
	padding-left:0rem;
	width:50%;
}
.left_panel_list li .sapMLIBContent .sapMObjLTopRow .sapMObjLNumberDiv .sapMObjLNumber{
 	white-space: initial;
 	width:70%;
 	float:left;
 	font-size:15px;
 	text-align:left;
}
.left_panel_list li .sapMLIBContent .sapMObjLTopRow .sapMObjLNumberDiv .sapMObjLNumberStateNone{
 	white-space: initial;
 	width:100%;
 	float:left;
 	text-align:right;
}

.left_panel_list li .sapMLIBContent .sapMObjLTopRow .sapMTextMaxLine{
	font-size: 17px;
    font-weight: bold;
    line-height: 19px;
}

.left_panel_list li .sapMLIBContent .sapMObjLBottomRow .sapMObjLAttrRow{
	padding-top:0rem !important;
}
.left_panel_list li .sapMLIBContent .sapMObjLBottomRow .sapMObjLAttrRow .sapMObjLAttrDiv{
	width:100% !important;
}
.left_panel_list li .sapMLIBContent .sapMObjLBottomRow .sapMObjLAttrRow .sapMObjLAttrDiv .sapMObjectAttributeDiv span{
	white-space:initial;
}

.left_panel_list li .sapMLIBContent .sapMObjLBottomRow .sapMObjLAttrRow .sapMObjLStatusDiv:nth-child(even){
	display:none;
}
.left_panel_list li .sapMLIBContent .sapMObjLBottomRow .sapMObjLAttrRow .sapMObjLStatusDiv .sapMObjStatus{
	white-space:initial;
	text-align:left;
}
.red {
    background-color: rgba(249, 68, 22, 0.71) !important;
}

/*----CSS START FROM START OF THE APPLICATION----*/
.addDialogMassUpdate{
	width:40% !important;
}
/*-----add mass Update dialog css start-----*/

.addDialogMassUpdate .sapMDialogScrollCont label{
	width:30%;
}

.addDialogMassUpdate .sapMDialogScrollCont .sapMComboBox{
	width:70%;
}
.addDialogMassUpdate .sapMDialogScrollCont .sapMInput{
	width:70% !important;
}
.addDialogMassUpdate .sapMDialogScrollCont .sapMDP{
	width:70% !important;
}
/*-----add partner dialog css start-----*/

.addDialogPartner .sapMDialogScrollCont label{
	width:20%;
}

.addDialogPartner .sapMDialogScrollCont .sapMComboBox{
	width:80%;
}
.addDialogPartner .sapMDialogScrollCont .sapMInput{
	width:80% !important;
}
/*-----add partner dialog css end-----*/

















.update_pg #__dialog0-dialog-cont .sapMListTblCell{
	padding:0px;
	vertical-align:middle;
}
.update_pg{
	width:40%;
	height:275px !important;
	overflow:auto;
	padding-top:2.5rem !important;
}
.update_pg header#__dialog0-subHeader{
	display:none;
}
.update_pg #status{
	width:100% !important;
}
.update_pg .sapMDialogScrollCont{
	padding:0.2rem 1rem;
}
.update_pg #__dialog0-dialog-cont .sapMListTblCell .sapUiSmallMarginBottom{
	margin-bottom:0rem !important;
}

@media only screen and (max-width: 600px) and (min-width: 320px)  {
.srch_cust table tr td .sapMListTblSubCnt{
		padding:0rem 1rem;
	}
.update_pg .sapMDialogScrollCont{
	padding:0.2rem 0.5rem;
}
.update_pg table .sapMListTblCell{
	padding:5px !important;
	vertical-align:middle !important;
}
.update_pg table .sapMListTblCell .sapUiSmallMarginBottom{
	margin-bottom:0rem !important;
}
.update_pg{
	padding-top:3rem !important;
}
.update_pg #__dialog2-subHeader{
	display:none !important;
}

}