.fontWight {
    font-weight: bold;
    color: #2b059c;
}
.sapMLabel {
    color: black;
    font-size: 0.875rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.sapMIBar-CTX .sapMTitle {
    color: black;
    font-size: 15px;
    font-weight: bold !important;
    text-shadow: 0 0 0.125rem #ffffff;
}
.sapFactsheetUtiLabel, .sapMListTbl .sapMLabel {
    color: black;
    font-weight: bold !important;

}
.tblclass .sapMListTbl th {
    background: cornsilk !important;
}
.sapMListTbl th {
    background: cornsilk;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px; 
}
.tblgrid1 .sapMListTblCell {
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.tblgrid .sapMListTblCell {
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
