/*.jp #__dialog0-dialog-cont .sapMListTblCell{
	padding:0px;
	vertical-align:middle;
}
.jp{
	width:40%;
	
}
.jp #status{
	width:100% !important;
}
.jp .sapMDialogScrollCont{
	padding:0.2rem 1rem;
}
.jp #__dialog0-dialog-cont .sapMListTblCell .sapUiSmallMarginBottom{
	margin-bottom:0rem !important;
}



@media screen and (max-width:600px){
.jp .sapMDialogScrollCont{
	padding:0.2rem 0.5rem;
}
.jp table .sapMListTblCell{
	padding:5px !important;
	vertical-align:middle !important;
}
.jp table .sapMListTblCell .sapUiSmallMarginBottom{
	margin-bottom:0rem !important;
}
}*/

.sapMLIB.sapMObjLItem {
    padding: 0.5rem;
    padding-top: 0.3rem;
    padding-right: 1rem;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
}

.sapMTextNoWrap, .sapMTextMaxLine {
    color: #12457a !important;
}