.sapMPanelContent {
    padding: 0rem;
    box-sizing: border-box;
    overflow: auto;
    white-space: normal;
}
.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 0rem;
    line-height: 2rem;
}